.hero {
  padding: 2rem;
  background-color: #e2e2e2;
  
}
img {
  width: 240px;
  height: 240px;
  border-radius: 600%;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  height: 80px;
  background: #0834d6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px 0px 100px;
}
nav .logo {
  font-size: 33px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 1s ease;
  padding: 8px 10px;
  border-radius: 5px;
  border-bottom: 2.1px solid transparent;
}
nav ul li a:hover {
  color: #fff;
  border-color: rgb(255, 255, 255);
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}

#about {
  justify-content: center;
  display:contents;
}

#hero{
  
}
.gambar{
  margin-top: 2rem;
}

.nama{
  margin-top: 1rem;
  margin-bottom: 1rem;
}